#!/usr/bin/env bash
OLD_PYTHON=`command -v python`
VENV_PATH=`pwd`/.venv/

if [ ! -d "$VENV_PATH" ]; then
   pip install virtualenv
   virtualenv $VENV_PATH
fi

echo "Activating virtual env...."
source $VENV_PATH/bin/activate
NEW_PYTHON=`command -v python`

echo "Installing requirements...."
pip install -r requirements.txt >/dev/null 2>&1

if [ "$OLD_PYTHON" != "$NEW_PYTHON" ]; then
   echo "Virtualenv changed"
   echo "  from $OLD_PYTHON"
   echo "  to   $NEW_PYTHON"
fi

echo "Done..."